<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<form novalidate [formGroup]="form" (ngSubmit)="handleFormSubmit()">
  <mat-card>
    <mat-card-title>
      User Information:
    </mat-card-title>
    <mat-card-content  formGroupName="user">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" type="text" name="name">
        <mat-error *ngIf="form.get('user').get('name').hasError('required')">Name is required</mat-error>
        <mat-error *ngIf="form.get('user').get('name').hasError('minlength')">Name should be at least 3 characters</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Phone" formControlName="phone" type="text" name="phone">
        <mat-icon matPrefix class="phone icon">phone</mat-icon>
        <mat-error *ngIf="form.get('user').get('phone').hasError('minlength') || form.get('user').get('phone').hasError('maxlength') ">Phone is 8 characters</mat-error>
        <mat-error *ngIf="form.get('user').get('phone').hasError('phoneFormat')">Phone should begin with 0</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" type="text" name="email">
        <mat-icon matPrefix class="email icon">email</mat-icon>
        <mat-error *ngIf="form.get('user').get('email').hasError('required')">Email is required</mat-error>
        <mat-error *ngIf="form.get('user').get('email').hasError('email')">Invalid email</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-title>
      User Address:
    </mat-card-title>
    <mat-card-content formArrayName="addresses">
      <!-- Addresses -->
      <div class="address shipping" *ngFor="let add of form.get('addresses').controls; let i = index;" [formGroupName]="i">
        <mat-card-subtitle *ngIf="i === 0">
          Shipping address
        </mat-card-subtitle>
        <mat-card-subtitle *ngIf="i === 1">
          Invoice address
        </mat-card-subtitle>
        <mat-form-field>
          <textarea matInput placeholder="Address" formControlName="address"></textarea>
          <mat-error *ngIf="form.get('addresses').at(i).get('address').hasError('required')">Address is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="Address 2" formControlName="address2"></textarea>
        </mat-form-field>
        <div class="row">
          <mat-form-field>
            <input matInput placeholder="City" formControlName="city">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="State" formControlName="state">
          </mat-form-field>
          <mat-form-field>
            <input matInput #postalCode maxlength="5" placeholder="Postal Code" formControlName="postalCode">
            <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
            <mat-error *ngIf="form.get('addresses').at(i).get('postalCode').hasError('required')">Postal code is mandatory</mat-error>
          </mat-form-field>
        </div>
        <div class="error" *ngIf="form.get('addresses').at(i).hasError('noStateAndCity')">City Or State are required</div>
      </div>
      <section class="address-toggle">
        <mat-slide-toggle (change)="toggleExtraAddress($event)">
          Send invoice to other address
        </mat-slide-toggle>
      </section>
    </mat-card-content>
    <mat-card-title>
      How much do you recommand us ?
    </mat-card-title>
    <mat-card-content>
      <rating-input></rating-input>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button [disabled]="!form.valid" type="submit">Créer</button>
      <button mat-button type="reset">Annuler</button>
    </mat-card-actions>
  </mat-card>
</form>
