<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<form novalidate>
  <mat-card>
    <mat-card-title>
      User Information:
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Name" type="text" name="name">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Phone" type="text" name="phone">
        <mat-icon matPrefix class="phone icon">phone</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Email" type="text" name="email">
        <mat-icon matPrefix class="email icon">email</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Age" type="text" name="age">
      </mat-form-field>
    </mat-card-content>
    <mat-card-title>
      User Address:
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Address" type="text" name="address">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button type="submit">Créer</button>
      <button mat-button type="reset">Annuler</button>
    </mat-card-actions>
  </mat-card>
</form>